.darkTheme
{
    --background-color: #070707;
    --background: linear-gradient(195deg, rgba(0,11,25,1) 0%, rgba(22,14,0,1) 100%);
    --shadow: 0px 12px 16px -16px rgba(237, 245, 251, 0.6);
    --text-color: #fefbf2;
}

.lightTheme
{
    --background-color: #fefbf2;
    --background: linear-gradient(195deg, rgba(227,239,254,1) 0%, rgba(251,240,221,1) 100%);
    --shadow: 0px 2px 16px -5px rgba(34, 60, 80, 0.6);
    --text-color: #131313;
}


body {
    background: var(--background-color);
    background: var(--background);
    background-repeat: no-repeat;
    background-attachment: fixed;

    font-family: 'Ubuntu', sans-serif;
    font-weight: 500; /*medium*/
    color: var(--text-color);
}

h1 {
    margin: 0;
}

header {
    min-height: 100px;
    background-color: var(--background-color);

    -webkit-box-shadow: var(--shadow);
    -moz-box-shadow: var(--shadow);
    box-shadow: var(--shadow);

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 119px;
}

.header__logo {
    font-weight: bold;
    font-style: italic;
}

.header__nav {
    display: flex;
}

/*theme switcher*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    border: 2px solid var(--text-color);

    -webkit-transition: .4s;
    transition: .4s;

    border-radius: 34px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 2px;
    bottom: 2px;
    background-color: var(--text-color);
    -webkit-transition: .4s;
    transition: .4s;

    border-radius: 50%;
}
.switch input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

nav {
    display: flex;
}

#menu__toggle {
    opacity: 0;
    margin-right: -10px;
}

.menu__btn {
    display: none; /* используем flex для центрирования содержимого */
    align-items: center;  /* центрируем содержимое кнопки */
    position: relative;
    top: 0;
    left: 0;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
}
.menu__btn > span::before {
    content: '';
    top: -8px;
    transition-duration: .25s;
}
.menu__btn > span::after {
    content: '';
    top: 8px;
    transition-duration: .25s;
}

.inlineList{
    margin: 0;
    padding: 0;
    width: 30vw;

    list-style-type: none;
    text-transform: uppercase;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@media (max-width: 1270px) {
    .inlineList { width: 40vw; }
}
@media (max-width: 940px) {
    header { padding: 0 5vw; }

    #menu__toggle {
        margin-right: 0;
    }
    .menu__btn {
        display: flex;
    }

    .menu__box {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        text-align: center;
        background-color: #ECEFF1;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
      }
      /* элементы меню */
      .menu__item {
        display: block;
        padding: 12px 24px;
        color: #333;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
      }
      .menu__item:hover {
        background-color: #CFD8DC;
      }

    #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
      }
      #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
      }
      #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
      }
      #menu__toggle:checked ~ .menu__box {
        visibility: visible;
        left: 0;
      }
}

.reference{
    color: var(--text-color);
    text-decoration: none;
}
.reference:hover{
    opacity: 80%;
}
.reference:active{
    opacity: 20%;
}