.darkTheme
{
    --background-color: #121212;
    --background: linear-gradient(195deg, rgba(18,7,31,1) 0%, rgba(36,27,9,1) 100%);
    --background: -moz-linear-gradient(195deg, rgba(18,7,31,1) 0%, rgba(36,27,9,1) 100%);
    --background: -webkit-linear-gradient(195deg, rgba(18,7,31,1) 0%, rgba(36,27,9,1) 100%);
    --background-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#12071f",endColorstr="#241b09",GradientType=1);
    --shadow: 0px 12px 16px -16px rgba(237, 245, 251, 0.6);
    --text-color: #fefbf2;
}

.lightTheme
{
    --background-color: #fefbf2;
    --background: linear-gradient(195deg, rgba(227,209,251,1) 0%, rgba(255,243,218,1) 100%);
    --background: -moz-linear-gradient(195deg, rgba(227,209,251,1) 0%, rgba(255,243,218,1) 100%);
    --background: -webkit-linear-gradient(195deg, rgba(227,209,251,1) 0%, rgba(255,243,218,1) 100%);
    --background-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e3d1fb",endColorstr="#fff3da",GradientType=1);
    --shadow: 0px 2px 16px -5px rgba(34, 60, 80, 0.6);
    --text-color: #131313;
}

body {
    background: var(--background-color);
    background: var(--background);
    filter: var(--background-filter);
    background-repeat: no-repeat;
    background-attachment: fixed;

    font-family: 'Ubuntu', sans-serif;
    font-weight: 500; /*medium*/
    color: var(--text-color);
}

h1 {
    margin: 0;
}

header {
    min-height: 100px;
    background-color: var(--background-color);

    -webkit-box-shadow: var(--shadow);
    -moz-box-shadow: var(--shadow);
    box-shadow: var(--shadow);

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 119px;
}

.header__logo {
    font-weight: bold;
    font-style: italic;
}

.header__nav {
    display: flex;
}

/*theme switcher*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.switch:hover {
    opacity: 80%;
}
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    border: 2px solid var(--text-color);

    -webkit-transition: .4s;
    transition: .4s;

    border-radius: 34px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 2px;
    bottom: 2px;
    background-color: var(--text-color);
    -webkit-transition: .4s;
    transition: .4s;

    border-radius: 50%;
}
.switch input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.user {
    height: 34px;
    width: 34px;
    border: 2px solid var(--text-color);
    border-radius: 45%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.user:hover {
    opacity: 80%;
}
.user:active{
    opacity: 20%;
}
.user__logo {
    width: 30px;/*
    border-radius: 60%;*/
}

.reference{
    color: var(--text-color);
    text-decoration: none;
}
.reference:hover{
    opacity: 80%;
}
.reference:active{
    opacity: 20%;
}