/* You can add global styles to this file, and also import other style files */
body {
    --background-color: #121212;
    --dark-background-color: #0e0d0d;
    --background: url(client/img/gradient-image-DT.png);
    --background-small: url(client/img/gradient-image-smol-DT.png);
    --header-shadow: 0px 12px 16px -16px rgba(237, 245, 251, 0.6);
    --footer-shadow: 0px -12px 16px -16px rgba(237, 245, 251, 0.6);
    --shadow: 0px 0px 10px 0px rgba(237, 245, 251, 0.6);
    --text-color: #fefbf2;
    --background-image: url(client/img/icon/sunIcon.svg);

    --shopping-image: url(client/img/icon/shoppingIconDT.svg);
    --search-image: url(client/img/icon/searchIconDT.svg);
    --github-image: url(client/img/icon/githubIconDT.svg);
    --linkedin-image: url(client/img/icon/linkedinIconDT.svg);
}

body.lightTheme {
    --background-color: #fefbf2;
    --dark-background-color: rgba(255,243,218,1);
    --background: url(client/img/gradient-image-LT.png);
    --background-small: url(client/img/gradient-image-smol-LT.png);
    --header-shadow: 0px 2px 16px -5px rgba(34, 60, 80, 0.6);
    --footer-shadow: 0px -2px 16px -5px rgba(34, 60, 80, 0.6);
    --shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.6);
    --text-color: #131313;
    --background-image: url(client/img/icon/moonIcon.svg);
    
    --shopping-image: url(client/img/icon/shoppingIconLT.svg);
    --search-image: url(client/img/icon/searchIconLT.svg);
    --github-image: url(client/img/icon/githubIconLT.svg);
    --linkedin-image: url(client/img/icon/linkedinIconLT.svg);
}


html, body { min-height: 100%; }
body {
    background-color: var(--dark-background-color);
    background: var(--background);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

    font-family: 'Ubuntu', sans-serif;
    font-weight: 500; /*medium*/
    color: var(--text-color);

    margin: 0;
}

@media (max-width: 720px) {
    body {
        background-color: var(--dark-background-color);
        background: var(--background-small);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
    }
}

h1 {
    margin: 0;
}

app-header {
    min-height: 100px;
    background-color: var(--background-color);

    -webkit-box-shadow: var(--header-shadow);
    -moz-box-shadow: var(--header-shadow);
    box-shadow: var(--header-shadow);

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 15vw;
}

.header__logo {
    font-weight: bold;
    font-style: italic;
    width: fit-content;
}

.header__nav {
    display: flex;
}

.roundle {
    height: 34px;
    width: 34px;
    border: 2px solid var(--text-color);
    border-radius: 45%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.roundle:hover {
    opacity: 80%;
}
.roundle:active{
    opacity: 20%;
}
.roundle__logo {
    width: 30px;
    height: 30px;
    background-image: var(--shopping-image);
}

.reference{
    color: var(--text-color);
    text-decoration: none;
}
.reference:hover{
    opacity: 80%;
}
.reference:active{
    opacity: 20%;
}

@media (max-width: 380px) {
    app-header {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .roundle {
        grid-column: 1;
        grid-row: 2;
        justify-self: center;
    }
    .switch {
        grid-column: 2;
        grid-row: 2;
        justify-self: center;
    }
    .logo {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row: 1;
        justify-self: center;
    }
}

main {
    padding: 30px 15vw;
    min-height: 40vh;
}

.searchBlock {
    min-height: 20px;

    background-color: var(--background-color);
    border-radius: 20px;

    display: flex;

    -webkit-box-shadow: var(--shadow);
    -moz-box-shadow: var(--shadow);
    box-shadow: var(--shadow);
}

.searchBlock__input {
    width: 80%;
    padding: 5px 15px;

    border: none;
    border-radius: 20px;

    background-color: var(--background-color);
    color: var(--text-color);
}

.searchBlock__button {
    height: 40px;
    width: 20%;

    cursor: pointer;
    border: 2px solid var(--text-color);
    border-radius: 20px;

    background-color: var(--background-color);
    background-image: var(--search-image);
    background-repeat: no-repeat;
    background-position: center;
}
.searchBlock__button:hover {
    opacity: 80%;
}
.searchBlock__button:active {
    opacity: 20%;
}

.inlineList {
    margin: 0;
    padding: 0;
    list-style-type: none;

    width: 50%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@media (max-width: 768px){
    .inlineList { flex-direction: column; }
    .inlineList li { width: fit-content; }
}
@media (max-width: 425px) {
    .inlineList { width: 100%; }
}

.inlineList__element {
    display: flex;
    align-items: center;
}

.button {
    height: 20px;
    border: 2px solid var(--text-color);
    border-radius: 20px;
    padding: 10px;

    text-transform: uppercase;
    text-decoration: none;
    color: var(--text-color);

    display: flex;
    justify-content: center;
    align-items: center;
}
.button:hover {
    opacity: 80%;
}
.button:active {
    opacity: 20%;
}

/*checkbox "remember me"*/
.checkbox__container {
    margin: 10px 0;
    padding-left: 15px;
}

.checkbox__input {
    position: absolute;
    opacity: 0;
}
.checkbox__input + label {
    position: relative;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
}
.checkbox__input + label::before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: var(--background-color);
    border: 2px solid var(--text-color);
    border-radius: 35%;
}
.checkbox__input:hover + label::before {
    opacity: 80%;
}
.checkbox__input:focus + label::before {
    opacity: 80%;
}
.checkbox__input:checked + label::before {
    background: var(--text-color);
}
.checkbox__input:disabled + label {
    opacity: 50%;
    cursor: auto;
}
.checkbox__input:disabled + label::before {
    box-shadow: none;
    opacity: 50%;
}
.checkbox__input:checked + label::after {
    content: '';
    position: absolute;
    left: 7px;
    top: 11px;
    background: var(--background-color);
    width: 2px;
    height: 2px;
    box-shadow: 
      2px 0 0 var(--background-color),
      4px 0 0 var(--background-color),
      4px -2px 0 var(--background-color),
      4px -4px 0 var(--background-color),
      4px -6px 0 var(--background-color),
      4px -8px 0 var(--background-color);
    transform: rotate(45deg);
}
@media (max-width: 280px) {
    .checkbox__input:checked + label::after { top: 17px; }
}

/*footer elements*/
.githubIcon {
    width: 64px;
    height: 64px;
    background-image: var(--github-image);
    background-repeat: no-repeat;
    background-position: center;
}

.linkedinIcon {
    width: 64px;
    height: 64px;
    background-image: var(--linkedin-image);
    background-repeat: no-repeat;
    background-position: center;
}

@media (max-width: 768px) {
    .githubIcon, .linkedinIcon {
        width: 32px;
        height: 32px;
        background-size: cover;
    }
}

.footer__logo {
    width: fit-content;
}
.footer__logo:hover {
    opacity: 80%;
}
.footer__logo:active {
    opacity: 20%;
}