<app-search-bar></app-search-bar>
<section class="productContainer">
    <section class="productContainer_row">
        <div class="product">
            <img class="product__image"
                src="https://creazilla-store.fra1.digitaloceanspaces.com/emojis/48096/orange-book-emoji-clipart-md.png"
                alt="Product image">
            <h2 class="product__header">Герой Нашого Часу</h2>
            <p class="product__author">Лесь Подерв'янський</p>
            <p class="product__library">Публічна бібліотека ім. Лесі Українки</p>
            <a href="" class="button">забронювати</a>
        </div>
    </section>
</section>