footer {
    position: fixed;
    bottom: 0;

    min-height: 100px;
    width: 100%;
    background-color: var(--background-color);

    -webkit-box-shadow: var(--footer-shadow);
    -moz-box-shadow: var(--footer-shadow);
    box-shadow: var(--footer-shadow);

    padding: 50px 15vw;
}
@media (max-width: 768px) {
    footer {
        padding: 30px 15vw;
    }
}