<footer>
    <div class="footer__logo">
        <a class="reference" routerLink="/">
            <h1 class="header__logo">BookShare</h1>
        </a>
    </div>

    <p>Наші соцмережі</p>
    <ul class="inlineList">
          <li>
                <a class="inlineList__element reference" href="https://github.com/zefirlover/Bookshare">
                    <div class="githubIcon"></div>
                    <p>GitHub</p>
                </a>
          </li>
          <li>
                <a class="inlineList__element reference" href="https://www.linkedin.com/in/bohdan-mushta-aa7323229/">
                    <div class="linkedinIcon"></div>
                    <p>zefirlover</p>
                </a>
          </li>
          <li>
                <a class="inlineList__element reference" href="https://www.linkedin.com/in/nikolai-arkharov-57493b204/">
                    <div class="linkedinIcon"></div>
                    <p>KolaCation</p>
                </a>
          </li>
    </ul>
    <p>Всі права захищено &copy; <br> zefirlover, KolaCation 2022</p>
</footer>