<form class="loginBlock" #loginForm="ngForm" (ngSubmit)="login()">
    <h2>Вхід</h2>
    <input class="loginBlock__input" 
        type="email" 
        placeholder="email@example.com" 
        name="email"
        [(ngModel)]="email"
        required>
    <input class="loginBlock__input" 
        type="password" 
        placeholder="Пароль" 
        name="password"
        id="inputPassword"
        [(ngModel)]="password"
        required>
    <a routerLink='/register' class="loginBlock__register">Зареєструватися</a>
    <button class="loginBlock__button" type="submit" [disabled]="busy">Увійти</button>
    <div *ngIf="isLoginError" class="loginBlock_errorText">Невірний логін або пароль</div>
</form>