<section class="loginBlock">
    <h2>Вхід</h2>
    <input class="loginBlock__input" type="text" placeholder="Логін" name="login">
    <input class="loginBlock__input" type="password" placeholder="Пароль" name="password">
    <!--
    <section class="checkbox__container">
          <input type="checkbox" class="checkbox__input" id="checkbox__input">
          <label for="checkbox__input">Запам'ятайте мене</label>
    </section>
    -->
    <button class="loginBlock__button">Увійти</button>
</section>